.article-tokyo{
    width: 312px;
    display: flex;
    margin: 0 auto;
}
.article-tokyo article img .tokyo-mobile{
    display: flex;
    width: 312px;
    height: 360px;
    margin: 0 auto;
}
img.tokyo-maior{
    display: none;
}
.article-tokyo h4{
    font-size: 28px;
    font-weight: var(--title-weight);
}
.article-tokyo p{
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
}
.article-tokyo .button{
    width: 312px;
    text-align: center;
}
.article-osaka{
    width: 312px;
    display: flex;
    margin: 0 auto;
}
.article-osaka article img.osaka-mobile{
    display: flex;
    width: 312px;
    height: 360px;
    margin: 40px auto 24px auto;
}
img.osaka-maior{
    display: none;
}
.article-osaka h4{
    font-size: 28px;
    font-weight: var(--title-weight);
}
.article-osaka p{
    font-weight: var(--text-weight);
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
}
.article-osaka .button{
    width: 312px;
    text-align: center;
}
@media screen and (min-width: 768px){
    .article-tokyo{
        width: 648px;
    }
    .article-osaka{
        width: 648px;
    }
    img.tokyo-mobile{
        display: none;
    }
    .article-osaka article img.osaka-mobile{
        display: none;
    }
    img.tokyo-maior{
        display: flex;
        width: 648px;
        height: 452px;
        margin: 0 auto;
    }
    img.osaka-maior{
        display: flex;
        width: 648px;
        height: 452px;
        margin: 40px auto 24px auto;
    }
    
}
@media screen and (min-width: 1024px){
    .section-title{
        margin-bottom: 64px;
    }
    .destinies-pop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 950px;
    }
    .article-tokyo article{
        width: 450px;
        height: 750px;
    }
    .article-osaka article{
        width: 450px;
        height: 750px;
    }
    img.tokyo-maior{
        width: 450px;
        height: 338px;
    }
    img.osaka-maior{
        margin-top: 0;
        width: 450px;
        height: 338px;
    }
}
@media screen and (min-width: 1366px){
    .destinies-pop{
        width: 1200px;
    }
    .article-tokyo article{
        margin-right: 24px;
        width: 588px;
        height: 750px;
    }
    .article-osaka article{
        width: 588px;
        height: 750px;
    }
    img.tokyo-maior{
        width: 588px;
        height: 452px;
    }
    img.osaka-maior{
        width: 588px;
        height: 452px;
    }
}