.testimonials{
    width: 312px;
    margin: 0 auto 88px;
}
.testimonial-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.testimonial-container article header p{
    font-size: 16px;
    line-height: 28px;
}
.testimonial-container footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
}
.testimonial-container footer img{
    width: 86px;
    height: 86px;
}
.testimonial-container footer .profile-content h3{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}
.testimonial-container footer .profile-content .rating .star{
    font-size: 32px;
    color: var(--secondary-color);
    line-height: 32px;
}
@media screen and (min-width: 768px){
    .testimonials{
        width: 648px;
    }
}
@media screen and (min-width: 1440px){
    .testimonials{
        width: 1200px;
        margin: 0 auto 104px;
    }
    .testimonial-container{
        flex-direction: row;
    }
}